.titleBox {
    position: relative;
    border-radius: 50px;

    padding: 2rem 3rem;
    margin-bottom: 6rem;
    margin-top: 6rem;


    display: inline-block;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}


.titleBox::after {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
    width: 100px;
    border-radius: 0 25px 0 0;

    border-top: 8px solid rgba(40,40,40,.85);
    border-right: 8px solid rgba(40,40,40,.85);
}

.titleBox::before {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100px;
    border-radius: 0 0 0 25px;

    border-bottom: 8px solid rgba(90,90,90,.75);
    border-left: 8px solid rgba(90,90,90,.75);
}