.navBar {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 20% 60% 20%;
    max-width: 1620px;
    margin: 0 auto;
    padding: 2.5rem 1rem;
    max-height: 3rem;
}

.menuBar {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.logoBlock {
    display: flex;
    gap: .4rem;
    align-items: center;
}

.logoBlock h2 {
    padding-top: 10px;
    font-weight: 800;
    font-size: 24px;
}
.navBar a {
    font-size: 24px;
}
